body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}
header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}
.quiz-container {
  background-color: #fff;
  padding: 2em;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.question-container {
  margin-bottom: 2em;
}
#question {
  direction: rtl;
  font-size: 24px;
  margin-bottom: 1em;
}
#answers {
  margin: auto;
  max-width: 400px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#answers li {
  margin-bottom: 1em;
}
#answers li input[type="radio"] {
  margin-right: 1em;
}
/* Custom Radio Button Styles */
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  display: inline-block;
  margin-right: 20px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
input[type="radio"] + label:hover {
  background-color: #f0f0f0;
}
input[type="radio"]:checked + label {
  background-color: #4CAF50;
  color: #fff;
}
input[type="radio"]:checked + label::before {
  content: "\2022";
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn {
  font-size: 16px;
  background-color: #4c4faf;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.btn:hover {
  background-color: #4645a0;
}
#options {
  gap: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.result-container {
  display: none;
  margin-top: 2em;
  text-align: center;
}
#results {
  margin-bottom: 1em;
}
#percentage {
  font-size: 24px;
  font-weight: bold;
}
.correct-answer {
  color: green;
}
.incorrect-answer {
  color: red;
}