/* Landing Section */
#landing {
  /*  */
}
/* Main Container */
#landing main {
  display: flex;
  padding-top: 30px;
  justify-content: center;
  padding-bottom: 100px;
}
/* Centered Form Container */
form {
  background-color: #ffffff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
/* Labels */
form label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333333;
}
/* Input Fields */
form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333333;
  outline: none;
  box-sizing: border-box;
  transition: border-color var(--main-transition) ease;
}
form input[type="text"]:focus,
form input[type="password"]:focus {
  border-color: #0078d7;
  box-shadow: 0 0 4px rgba(0, 120, 215, 0.3);
}
/* a link */
form a {
  text-decoration: none;
  color: #0078d7;
  font-size: 14px;
}
form input, form select, form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
/* Submit Button */
form button {
  background-color: var(--main-color);
  color: #ffffff;
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color var(--main-transition) ease;
}
form button:hover {
  background-color: var(--main-color-alt);
}
/* Responsive Adjustments */
@media (max-width: 500px) {
  form {
    padding: 15px 20px;
  }
  form button {
    font-size: 14px;
    padding: 8px 12px;
  }
}
.dropdown-container {
  position: relative;
}
#search {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.dropdown-list .category {
  font-weight: bold;
  background-color: #f4f4f4;
  padding: 10px;
  cursor: default;
}
.dropdown-list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #f4f4f4;
}
.dropdown-list li:last-child {
  border-bottom: none;
}
.dropdown-list li:hover {
  background-color: #f0f0f0;
}