#landing main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1, h2 {
  margin: 0.5rem 0;
  text-align: center;
}
#top3, #the-rest {
  margin: 1.5rem 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
#landing ul {
  list-style-type: none;
  padding: 0;
}
#landing li {
  display: flex;
  padding: 0.5rem;
  min-width: 280px;
  margin: 0.5rem 0;
  justify-content: space-evenly;
  border-bottom: 1px solid #ddd;
}
#landing li:last-child {
  border-bottom: none;
}