#landing {
  padding: 20px;
  text-align: center;
}
#landing h2 {
  font-size: 28px;
  color: #4CAF50;
  margin-bottom: 20px;
}
#landing main {
  gap: 20px;
  display: grid;
  padding: 0 10px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.exam-item {
  padding: 20px;
  text-align: left;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}
.exam-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.exam-item h3 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}
.exam-item p {
  color: #555;
  font-size: 16px;
  margin-bottom: 15px;
}
.start-exam-btn {
  margin: auto;
  display: block;
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 4px;
  text-decoration: none;
  background-color: #4CAF50;
  transition: background-color 0.2s;
}
.start-exam-btn:hover {
  background-color: #45a049;
}